{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block header %}
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <span class="blue">P</span>
        <span class="red">L</span>
        <span class="yellow">A</span>
        <span class="green">Y</span>
        <span class="red">GROUND</span>
    </a>
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>IP</th>
                <th>OS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{info['ip']}}</td>
                <td>{{info['os']}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
